<div ng-controller="menuApp as curent">
    <nav class="menuApp">
        <label>{{name}}</label>
        <label class="exit" ng-click="curent.test()">logOut</label>
        
        <a href="/#/" ><h3>Home</h3></a>
        <a href="/#/dashboard" ><h3>Visit</h3></a>
        <a href="/#/calendar" ><h3>Planning</h3></a>
        <a href="/#/courses" ><h3>Courses</h3></a>
        <a href="/#/rooms" ><h3>Rooms</h3></a>
        <a href="/#/settings" ><h3>Settings</h3></a>
        <a href="/#/admin" ><h3>Admin</h3></a>
    </nav>
</div>

<div ng-controller="rooms as curent" class="content">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1>Rooms</h1>
            
            <div class="flex">
                <div class="single">
                    <h2 class="topTitle">Available rooms</h2>
                    <h5>AmphiB</h5>
                    <h5>12L</h5>
                    <h5>9L</h5>
                </div>
            
                <div class="single">
                    <input type="text" class="form-control roomsInput" placeholder="Search room" ng-model="search">
                    <div class="dataList">
                        <div class="example-animate-container">
                            <div ng-repeat="item in actualRooms | filter:search as results" class="animate-repeat">
                                {{item}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    
    <footer>
        <div class="single"></div>
        <div class="single">
            <select ng-model="lang">
                <option>EN</option>
                <option>FR</option>
            </select>

            <a>Contact</a>
        </div>
        
        <div class="flexRight">
            <img src="img/logoAppli.png" class="logo responsive">
        </div>
    </footer>
</div>